<%= form_for [@post, @comment] do |f| %>
  <%= f.label :author, "Author: "%>
  <%= f.text_field :author %>
<br>
  <%= f.label :content, "Content: " %>
  <br><!-- <%= f.text_field :content %> -->
  <%= f.text_area :content, size: "60x12" %>
  <%= f.hidden_field :post_id %>
<br>
  <%= f.submit %>
<% end %>

<br>
<a href="/posts">cancel</a></h2>
<br>
