<%= form_for(@post) do |f| %>
  <%= f.label :author, "Author: "%>
  <%= f.text_field :author %>
<br>
  <%= f.label :title, "Title: " %>
  <%= f.text_field :title %>
<br>
  <%= f.label :content, "Content: " %>
  <br><!-- <%= f.text_field :content %> -->
  <%= f.text_area :content, size: "60x12" %>
<br>
  <%= f.submit %>
<% end %>

<br>
<a href="/posts">cancel</a></h2>
<br>


<%= form_for(@post, method: :delete) do |f| %>
  <%= f.submit "Delete" %>
<% end  %>
